$bg-color: #f3f3f3;
$card-color: #fff;

$temp-color: #777;
$faded-color: #999;

$accent: #ea6e4b;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $bg-color;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10vh;
  padding: 5px 30px;
  width: 320px;
  height: 450px;
  border-radius: 10px;
  background-color: $card-color;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

.location-name {
  font-weight: 300;
  font-size: 2em;
  margin-top: 30px;
}

.description-wind {
  display: flex;
  align-items: center;
}

.weather-description {
  margin-top: 30px;
  color: $temp-color;
  font-weight: 400;
  font-size: 1em;
}

.wind-speed {
  margin-top: 30px;
  margin-left: auto;
  color: $faded-color;
  font-weight: 400;
  font-size: 1em;
}

.img-temp {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#weather-img {
  width: 150px;
}

.temp-degree {
  padding-right: 20px;
  font-weight: 300;
  font-size: 5.5em;
  line-height: 0.2em;
  color: $temp-color;
}

.toggle-buttons {
  display: flex;
  justify-content: space-evenly;
}

#toggle-today,
#toggle-week {
  font-size: 0.8em;
  font-weight: 200;
  text-align: center;
  width: 100%;
  color: black;
  cursor: pointer;
}

#toggle-today {
  border-right: 1px solid $faded-color;
}

.button-selected:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 30%;
  padding-top: 2px;
  border-bottom: 2px solid $accent;
}

.hour-table {
  margin-top: 40px;
  text-align: center;
  // display: none;
}

.week-table {
  margin-top: 40px;
  text-align: center;
  display: none;
}

.tr-days,
.tr-hours {
  td {
    padding-bottom: 15px;
    font-size: 0.9em;
  }
}

.tr-temp {
  font-size: 0.9em;
  td {
    padding-bottom: 8px;
    color: $faded-color;
  }
}
